HOST_IP=YOUR_HOST_IP_ADDRESS
GHCR_PASSWORD=YOUR_GITHUB_TOKEN_WITH_READ_WRITE_PACKAGES_SCOPE
SERVER_SSH_PRIVATE_KEY="PASTE_YOUR_PRIVATE_KEY_HERE" // it doesnt matter if its in multiple lines, just make sure to keep the quotes around it